<div class="card">
    <div class="header">
        <span class="title">{{ article.title }}</span>
    </div>
    <p class="desc">{{ article.content }}</p>
    <div class="about">
        <p class="author">{{ article.author }}</p>
        <p class="date">{{ article.publishedAt|date("d/m/Y") }}</p>
    </div>
</div>